<div class="container">
  <ng-container *ngIf="!auth; else logged">
    <form [formGroup]="formLogin" (ngSubmit)="login()">
      <legend>Login</legend>
      <label for="login" class="required">
        <span>Login</span>
        <input type="text" name="login" id="login" formControlName="login">
        <span
        class="validation"
        *ngIf="controls()['login'].touched && controls()['login'].invalid"
        >Login is required</span>
      </label>
      <label for="password" class="required">
        <span>Password</span>
        <input type="password" name="password" id="password" formControlName="password">
        <span
          *ngIf="controls()['password'].touched && controls()['password'].invalid"
        >
        Password is required. Min length 8
      </span>
      </label>
      <button class="btn" type="submit" [disabled]="formLogin.invalid">Submit</button>
  </form>
  </ng-container>

  <ng-template #logged>
    <h2 class="center">You are already logged<br>in to your account</h2>
  </ng-template>

</div>
