<div class="d-flex ai-center item">
  <img src="../../../assets/viewed.svg" alt="">
  <span>{{ statistics.viewCount }}</span>
</div>
<div class="d-flex ai-center item">
  <img src="../../../assets/liked.svg" alt="">
  <span>{{ statistics.likeCount }}</span>
</div>
<div class="d-flex ai-center item">
  <img src="../../../assets/dislike.svg" alt="">
  <span>{{ statistics.dislikeCount }}</span>
</div>
<div class="d-flex ai-center item">
  <img src="../../../assets/comments.svg" alt="">
  <span>{{ statistics.commentCount }}</span>
</div>
